*{
   
    font-family:sans-serif
}
.all{
    position:relative;
    min-height:100vh;
    display:grid;
    grid-template-columns: 1fr 1fr;
    place-items:center;
    background-image:linear-gradient(to right,rgb(48, 145, 224) 60%,rgb(224, 207, 231));
    gap:1em;
    padding-block-start: 1em;
}
h3{
    transition: .5s;
}
:is(.card):hover{
   margin-top:-10px
}
.posts{
  display:grid;
  grid-template-columns:1fr 1fr;
  place-items:center;
  gap:1em;
}
@media (max-width:768px) {
    .container-fluid{
        grid-template-columns:1fr;
        h3{
            margin-bottom:auto;
        }
    }
   
    .posts{
        grid-template-columns:1fr;
    }
    .addCards{
        position: static !important;
        margin-block-start:0 !important;
     }
}
.close{
    display:flex;
    justify-content: end;
}
.card-body,.bg_gradient{
     display:grid;
    place-items:center;
    gap:.5em;
    text-align: center;
    p{
        font-size:10px;
        width:200px;
    }
}
.bg_gradient{
    background-image: linear-gradient(to right,rgb(124, 9, 24) 50%, black 50%);
}
.user_image{
    width:4em;
    height:4em;
    border-radius:50%;
    box-shadow:0 0 0 .1em rgb(255,255,255);
}
.country{
    display:flex;
    justify-content: center;
    align-items: center;
    h6{
        padding:1em;
        background:black;
        color:white;
        border-radius:100px;
        font-size:11px
    }
    h6:hover{
       box-shadow:0 0 2px red;
    }
}
.addImage{
    display:grid;
    place-items:center;
}
.length{
    display:grid;
    place-items: end;
}
.addCards{
    position:fixed;
   top:0;
   margin-block-start:5em;
}